footer.footer
	.l-center
		.footer__in
			.footer__social
				a(href="#").footer__ico.fb_ico
				a(href="#").footer__ico.vk_ico
				a(href="#").footer__ico.twitter_ico
				a(href="#").footer__ico.insta_ico
				a(href="#").footer__ico.ok_ico
			.footer__contacts
				a(href="#").footer__ico.mail_ico
				span
					i.footer__ico.call_ico
					| (423) 201-50-50
			nav.footer__nav
				ul.nav
					li
						a(href="#").nav__link
							| Магазины
					li
						a(href="#").nav__link
							| <span class="txt-bold">Yota</span>Phone 2
					li
						a(href="#").nav__link
							| Аксессуары
					li
						a(href="#").nav__link
							| Сервис
				button(type="button").button <span>Купить</span>
		.footer__copyright.onright
			| © 2015, Yota 4 you