header.header
	.l-center
		.header__in
			a(href="#").header__logo.onleft
				img(src="img/logo.png" alt="yota4you")
			nav.header__nav.onright
				ul.nav.onleft
					li
						a(href="#").nav__link
							| Магазины
					li
						a(href="#").nav__link
							| <span>Yota</span>Phone 2
					li
						a(href="#").nav__link
							| Аксессуары
					li
						a(href="#").nav__link
							| Сервис
				button(type="button").button.onleft <span>Купить</span>

