.mobile-menu
	.close-button.onright.js-close
	nav
		ul.nav
			li
				a(href="#").nav__link
					| Магазины
			li
				a(href="#").nav__link
					| <span class="txt-bold">Yota</span>Phone 2
			li
				a(href="#").nav__link
					| Аксессуары
			li
				a(href="#").nav__link
					| Сервис
		button(type="button").button <span>Купить</span>


