doctype3
html
	include _doc.jade
	title inner2
	body
		.out
			include _mobile-menu.jade
			include _header.jade
			.inner
				.l-center
					ul.breadcrumb
						li.breadcrumb__point
							a(href="#") Главная страница
						li.breadcrumb__point
							a(href="#") Аксессуары
						li.breadcrumb__point
							a(href="#") Для Yota
						li.breadcrumb__point
							span Гарнитура Bluetooth Jawbone ICON+ Nerd, цвет голубой
					.content
						.content__in.onleft
							.products
								.product__bl
									.product__img
										img(src="img/product1.jpg" alt="product1")
									.product__info
										a(href="#").product__ttl <span>Yota</span> Phone
										.product__txt
											p 99MO023005
											p.product__price.txt-semibold 13 499 P
										button(type="button").button Купить
								.product__bl
									.product__img
										img(src="img/product2.jpg" alt="product2")
									.product__info
										a(href="#").product__ttl Гарнитура Bluetooth Jawbone ICON+ Nerd Гарнитура Bluetooth Jawbone ICON+ Nerd
										.product__txt
											p 99MO023005
											p.product__price.txt-semibold 13 499 P
										button(type="button").button Купить
								.product__bl
									.product__img
										img(src="img/product1.jpg" alt="product1")
									.product__info
										a(href="#").product__ttl <span>Yota</span> Phone
										.product__txt
											p 99MO023005
											p.product__price.txt-semibold 13 499 P
										button(type="button").button Купить
								.product__bl
									.product__img
										img(src="img/product2.jpg" alt="product2")
									.product__info
										a(href="#").product__ttl Гарнитура Bluetooth Jawbone ICON+ Nerd
										.product__txt
											p 99MO023005
											p.product__price.txt-semibold 13 499 P
										button(type="button").button Купить
								.product__bl
									.product__img
										img(src="img/product1.jpg" alt="product1")
									.product__info
										a(href="#").product__ttl <span>Yota</span> Phone
										.product__txt
											p 99MO023005
											p.product__price.txt-semibold 13 499 P
										button(type="button").button Купить
								.product__bl
									.product__img
										img(src="img/product2.jpg" alt="product2")
									.product__info
										a(href="#").product__ttl Гарнитура Bluetooth Jawbone ICON+ Nerd Гарнитура Bluetooth Jawbone ICON+ Nerd
										.product__txt
											p 99MO023005
											p.product__price.txt-semibold 13 499 P
										button(type="button").button Купить
								.product__bl
									.product__img
										img(src="img/product1.jpg" alt="product1")
									.product__info
										a(href="#").product__ttl <span>Yota</span> Phone
										.product__txt
											p 99MO023005
											p.product__price.txt-semibold 13 499 P
										button(type="button").button Купить
								.product__bl
									.product__img
										img(src="img/product2.jpg" alt="product2")
									.product__info
										a(href="#").product__ttl Гарнитура Bluetooth Jawbone ICON+ Nerd Гарнитура Bluetooth Jawbone ICON+ Nerd
										.product__txt
											p 99MO023005
											p.product__price.txt-semibold 13 499 P
										button(type="button").button Купить
								.product__bl
									.product__img
										img(src="img/product1.jpg" alt="product1")
									.product__info
										a(href="#").product__ttl <span>Yota</span> Phone
										.product__txt
											p 99MO023005
											p.product__price.txt-semibold 13 499 P
										button(type="button").button Купить
								.product__bl
									.product__img
										img(src="img/product2.jpg" alt="product2")
									.product__info
										a(href="#").product__ttl Гарнитура Bluetooth Jawbone ICON+ Nerd
										.product__txt
											p 99MO023005
											p.product__price.txt-semibold 13 499 P
										button(type="button").button Купить
								.product__bl
									.product__img
										img(src="img/product1.jpg" alt="product1")
									.product__info
										a(href="#").product__ttl <span>Yota</span> Phone
										.product__txt
											p 99MO023005
											p.product__price.txt-semibold 13 499 P
										button(type="button").button Купить
								.product__bl
									.product__img
										img(src="img/product2.jpg" alt="product2")
									.product__info
										a(href="#").product__ttl Гарнитура Bluetooth Jawbone ICON+ Nerd
										.product__txt
											p 99MO023005
											p.product__price.txt-semibold 13 499 P
										button(type="button").button Купить
						.sidebar.onright
							label.input
								input(type="text" placeholder="Поиск по сайту")
							ul.sidebar__nav
								li
									a(href="#") AV кабели, разветвители
								li
									a(href="#").is-active Bluetooth гарнитуры
								li
									a(href="#") FM трансмиттеры
								li
									a(href="#") Автомобильные зарядные устройства
								li
									a(href="#") Адаптеры и кабели
								li
									a(href="#") Адаптеры питания
								li
									a(href="#") Внешние батареи
								li
									a(href="#") Держатели
								li
									a(href="#") Докстанции
								li
									a(href="#") Наклейки декоративные
								li
									a(href="#") Пленки защитные
								li
									a(href="#") Чехлы
								li
									a(href="#") Другое

			include _footer.jade
		script(src="js/lib/head.js" data-headjs-load="js/init.js")